* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fox {
  height: 779px;
  padding: 19px 0px 240px 0px;
  background: url(../img/Main_bg.jpg) center center/cover no-repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  position: relative;
  width: 60px;
  height: 70px;
}

.logo_text {
  position: absolute;
  left: 130px;
  top: 40px;
  font-size: 32px;
  font-weight: 400;
  font-family: Roboto;
  color: #F7F7F7;
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  display: block;
}

